# dependencies
node_modules/
venv/
.venv/

# environment
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store
__MACOSX/

# IDE
.idea/
.vscode/

# logs
*.log

# build
dist/
build/

# local files
*.zip
back-end/app/assets/models/speech/rf_pipe.joblib
*.joblib
*.pkl
*.pt
*.pth
*.h5
